[Unit]
After=network.target

[Service]
User=inventory
Group=inventory
WorkingDirectory=/opt/inventory
ExecStart=/opt/inventory/venv/bin/python application localhost {{ listen_port }}
Restart=on-failure

[Install]
WantedBy=multi-user.target